# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

#Environment
sim/
venv/
.env/


# OS / IDE files
.DS_Store
.vscode/
.idea/


# Logs 
*.log
runs/
wandb/
tensorboard/
checkpoints/


# Large data 
data/raw/
data/processed/
*.zip


# Trained models
*.pt
*.pth
*.ckpt

# Temporary / cache files
*.tmp
*.swp
*~
